.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.logo {
  font-weight: 900;
  font-size: 24px;
  color: var(--primary-blue);
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: var(--white);
  font-size: 14px;
  color: #666;
}

.btn-primary {
  width: 100%;
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.btn-secondary {
  background-color: var(--accent-purple);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}